.products-list {
  padding: 0 1.5rem 8rem;
}

.card__details-text {
  margin: 0 0 1em;
  font-weight: 600;
  opacity: 0.8;
}

.card__details-price {
  color: #353535;
  font-weight: 400;
  font-size: 4rem;
}

.products-list__msg {
  text-align: center;
  color: #353535;
}

@media only screen and (min-width: 48.1rem) {
  .products-list {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .products-list .card:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 48.1rem) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }
}
