.mobile-toggler {
  width: 2.4rem;
  position: relative;
  z-index: 1050;
  cursor: pointer;
}

@media only screen and (min-width: 48.1rem) {
  .mobile-toggler {
    display: none;
  }
}

.mobile-toggler__icon {
  position: relative;
}

.mobile-toggler__icon,
.mobile-toggler__icon::before,
.mobile-toggler__icon::after {
  display: inline-block;
  height: 0.3rem;
  width: 100%;
  background-color: #262322;
  border-radius: 3px;
}

.mobile-toggler__icon::before,
.mobile-toggler__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.3s ease-out;
}

.mobile-toggler__icon::before {
  top: -0.75rem;
}

.mobile-toggler__icon::after {
  top: 0.75rem;
}

.mobile-toggler.active .mobile-toggler__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.mobile-toggler.active .mobile-toggler__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.mobile-toggler.active .mobile-toggler__icon {
  background-color: transparent;
}
