.promise {
  padding: 8rem 1.5rem;
}

.promise__text {
  opacity: 0.875;
  text-align: center;
  margin-bottom: 3.2rem;
}

.promise__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.promise__img {
  width: calc(100% / 3);
}

@media only screen and (min-width: 48.1rem) {
  .promise {
    max-width: 90vw;
    margin: 0 auto;
  }
  .promise__img {
    width: 20%;
  }
}
